@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký tài khoản";
}
<div class="htc__login__register bg__white ptb--50">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="htc__login__register__wrap">
                <h1>@ViewData["Title"]</h1><hr />
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="htc__login__register__wrap">
                <div id="login" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FullName"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BirthDay"></label>
                            <input asp-for="BirthDay" type="date" class="form-control" />
                            <span asp-validation-for="BirthDay" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="main_btn">Đăng ký</button>
                    </form>
                    <hr />
                    <label> Đã có tài khoản.</label>
                    <br />
                    <a href="/dang-nhap.html" class="main_btn">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
