@model List<TourCategoryViewModel>
@using Microsoft.AspNetCore.Identity
@using Travel.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="mobile-menu clearfix visible-xs visible-sm">
    <nav id="mobile_dropdown">
        <ul>
            <li><a href="/">Home</a></li>
            @foreach (var item in Model.Where(x => x.ParentId == null))
            {
                <li>
                    <a href="/@item.SeoAlias-c.@(item.Id).html"> @item.Name</a>
                    <ul>
                        @foreach (var subItem in Model.Where(x => x.ParentId == item.Id))
                        {
                            <li><a href="/@subItem.SeoAlias-c.@(subItem.Id).html">@subItem.Name</a></li>
                        }
                    </ul>
                </li>
            }
            <li><a href="/blog">Blog</a></li>
            <li><a href="/lien-he.html">Liên hệ</a></li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="shp__checkout btn btn-large">Quản lý tài khoản</a>
                </li>
                <li>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">

                        <a id="dangxuat" name="dangxuat" >Đăng xuất</a>
                    </form>
                </li>
            }
            else
            {
                <li><a href="/dang-nhap.html">Đăng nhập</a></li>
                <li><a href="/dang-ky.html">Đăng ký</a></li>
            }
        </ul>
    </nav>
</div>

