@model List<TourCategoryViewModel>

<form id="logoutForm" method="post" asp-controller="Account" asp-action="Logout">
    <input hidden type="submit" value="Logout" />
</form>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-warning w-auto">
    <a class="navbar-brand" href="/">
        TRAVELISTA.COM.VN
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            @foreach (var item in Model.Where(c => c.ParentId == null).Take(8))
            {
                <li class="nav-item active">
                    <a class="nav-link" href="/@item.SeoAlias-c.@(item.Id).html">@item.Name</a>
                </li>
            }
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/cart.html">Giỏ hàng</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/lien-he.html">Liên hệ</a>
            </li>
            @inject SignInManager<AppUser> SignInManager
            @inject UserManager<AppUser> UserManager

            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tài khoản
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="nav-link" href="#" onclick="document.getElementById('logoutForm').submit();">Đăng xuất</a>
                        <a class="nav-link" href="/manage">Quản lý tài khoản</a>
                    </div>
                </li>

            }
            else
            {
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tài khoản
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="nav-link" href="/dang-nhap.html">Đăng nhập</a>
                        <a class="nav-link" href="/dang-ky.html">Đăng ký</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</nav>

