@model Travel.Application.ViewModels.Common.FeedbackViewModel
<strong>Feedback - Contact</strong>
<br />
<table>
    <tr>
        <td>Name: </td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Email: </td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Message: </td>
        <td>@Model.Message</td>
    </tr>
</table>