@using Microsoft.AspNetCore.Authorization
@using Travel.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Danh sách Quyền";
}
@section Styles{
    <link href="~/lib/maxazan-jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/maxazan-jquery-treegrid/js/jquery.treegrid.js"></script>
    <script src="~/app/controller/role/index.js" asp-append-version="true"></script>
    <script>
        var roleObj = new RoleController();
        roleObj.initialize();
    </script>
}
<div>
    <div class="row">
        <div class="title_left">
            <h1 class="text-center h1 text-uppercase">Quản lý Quyền hạn</h1>
            <div class="col-md-auto col-sm-auto col-xs-12 form-group pull-left">
                @{
                    var result = await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create);
                }
                @if (result.Succeeded)
                {
                    <button aria-label="Thêm mới quyền" data-balloon-pos="up" class="btn btn-success" id="btn-create" type="button">Thêm mới</button>
                }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="input-group col-md-5 form-group">
                        <input type="text" id="txt-search-keyword" class="form-control" placeholder="Từ khóa...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="btn-search" type="button">Tìm</button>
                        </span>
                    </div>
                    <table id="tbl-Tour" class="table dt-responsive table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Diễn giải</th>
                                <th style="width:150px;">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content"></tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                <select id="ddl-show-page">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <span class="item-per-page">
                                    bản ghi/trang.
                                </span>
                                Tổng số bản ghi: <strong id="lbl-total-records"></strong>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                <ul id="paginationUL"></ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script id="table-template" type="x-tmpl-mustache">
        <tr>
            <td>{{Name}}</td>
            <td>{{Description}}</td>
            <td class="text-center" width="15%">
                @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
                {
                    <button aria-label="Chi tiết" data-balloon-pos="up" data-id="{{Id}}" class="btn btn-sm btn-primary btn-grant"><i class="fa fa-eye-slash"></i></button>
                    <button aria-label="Cập nhật thông tin" data-balloon-pos="up" data-id="{{Id}}" class="btn btn-sm btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></button>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Delete)).Succeeded)
                {
                    <button aria-label="Xóa quyền! Cẩn thận khi xóa" data-balloon-pos="up" data-id="{{Id}}" class="btn btn-sm btn-danger btn-delete"><i class="fa fa-trash-o"></i></button>
                }
            </td>
            </tr>
    </script>
</div>
@Html.Partial("_AddEditModal.cshtml")
@Html.Partial("_AssignPermission.cshtml")