@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>Mật khẩu</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<p class="text-info">
    Bạn đã đăng nhập bằng mạng xã hội, nên vẫn chưa có thông tin đăng nhập chính thức.
    <br />
    Vui lòng thêm mật khẩu vào tên tài khoản.
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Set password</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}