@using Microsoft.AspNetCore.Authorization
@using Travel.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Danh sách tour";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/lib/jquery-easyui-1.8.4/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui-1.8.4/themes/icon.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts{
    <script src="~/lib/jquery-easyui-1.8.4/jquery.easyui.min.js"></script>
    <script src="~/app/controller/tour/index.js" asp-append-version="true"></script>
    <script src="~/app/controller/tour/image-management.js"></script>
    <script>
        var Tour = new TourController();
        Tour.initialize();
    </script>
}
<div>
    <div class="row">
        <div class="title_left">
            <h1 class="text-left h1 text-uppercase">Quản lý Tour</h1>
            <hr />
        </div>
        <div class="col-md-auto col-sm-auto col-xs-12 form-group pull-left">
            @if ((await AuthorizationService.AuthorizeAsync(User, "Tour", Operations.Create)).Succeeded)
            {
                <button aria-label="Thêm mới tour" data-balloon-pos="up" class="btn btn-success" id="btnCreate" type="button">Thêm mới <i class="fa fa-plus-square"></i></button>
            }

            @*<button aria-label="Import tour bằng Excel theo mẫu" data-balloon-pos="up" class="btn btn-primary" id="btn-import" type="button">Import <i class="fa fa-file-excel-o"></i></button>
                <button aria-label="Xuất tour ra file Excel" data-balloon-pos="up" class="btn btn-primary" id="btn-export" type="button">Export <i class="fa fa-forward"></i></button>
                <button aria-label="Tải template mẫu để nhập tour" data-balloon-pos="up" class="btn btn-danger" href="~/templates/TourImportTemplate.xlsx">Tải Template <i class="fa fa-cloud-download"></i></button>*@

        </div>
        <div class="col-md-3 col-sm-12 form-group">
            <select class="form-control" id="ddlCategorySearch">
                <option>Chọn Danh mục</option>
            </select>
        </div>
        <div class="input-group col-sm-6 col-md-3">
            <input type="text" id="txtKeyword" class="form-control" placeholder="Từ khóa...">
            <span class="input-group-btn">
                <button aria-label="Tìm kiếm tour" data-balloon-pos="up" class="btn btn-primary" id="btnSearch" type="button">Tìm</button>
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="example" class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Danh mục</th>
                        <th>Tên tour</th>
                        <th>Giá nhập</th>
                        <th>Giá bán</th>
                        <th>Giá khuyến mãi</th>
                        <th width="100">Hình</th>
                        <th>Vé còn lại</th>
                        <th style="width:50px">Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-content">
                </tbody>
            </table>
        </div>
    </div>

    <!--Pagination-->
    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                <select id="ddlShowPage" class="md-1">
                    <option value="10" selected="selected">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span class="item-per-page">
                    bản ghi/trang.
                </span>
                Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                <ul id="paginationUL"></ul>
            </div>
        </div>
    </div>
</div>

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{CategoryName}}</td>
        <td class="text-left" aria-label="{{Name}}" data-balloon-pos="up" style="max-width:250px">{{Name}}</td>
        <td class="text-right">{{OriginalPrice}}</td>
        <td class="text-right">{{Price}}</td>
        <td class="text-right">{{PromotionPrice}}</td>
        <td class="text-center">{{{Image}}}</td>
        <td class="text-center">{{SeatAvailability}}</td>
        <td class="text-center">{{{Status}}}</td>
        <td class="text-center">
            @if ((await AuthorizationService.AuthorizeAsync(User, "Tour", Operations.Update)).Succeeded)
            {
                <button data-id="{{Id}}" aria-label="Sửa thông tin tour" data-balloon-pos="up" class="btn btn-default btn-sm btn-edit"><i class="fa fa-pencil"></i></button>
                <button data-id="{{Id}}" aria-label="Hình chi tiết của tour" data-balloon-pos="up" class="btn btn-default btn-sm btn-images"><i class="fa fa-image"></i></button>
                <button data-id="{{Id}}" aria-label="Thay đổi trang thái tour" data-balloon-pos="up" class="btn btn-default btn-sm btn-status"><i class="fa fa-chain-broken"></i></button>
            }
            @if ((await AuthorizationService.AuthorizeAsync(User, "Tour", Operations.Delete)).Succeeded)
            {
                <button data-id="{{Id}}" class="btn btn-danger btn-sm btn-delete" aria-label="Xóa tour" data-balloon-pos="up"><i class="fa fa-trash"></i></button>
            }
        </td>
    </tr>
</script>
@Html.Partial("_AddEditModal.cshtml")
@Html.Partial("_ImportExcelModal.cshtml")
@Html.Partial("_ImageManagement.cshtml")
